html{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: rgba(56, 228, 228, 0.753);
}

.title {
    color: rgb(0, 0, 0);
    text-align: center;
    font-size: 40px;
    font-weight: 900;
    text-transform: uppercase;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif ;
    background-color: yellow;
    padding: 20px;
    text-shadow: 2px 3px white;
   
}
.title-container {
    width: 480px;
    margin: auto;
}



#main{
    border: 1px solid gray;
    background-color: black;
    width: 640px;
    height: 640px;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 2em 0;
    border-radius: 20px;
    box-shadow: 0 0 10px rgb(131, 131, 131);
    
}

.top{
    width: 150px;
    height: 5px;
    background-color: rgb(230, 230, 224);
    margin: 20px;
    border-radius: 5px;

}

.grid-container {
    width: 480px;
    height: 480px;
    background-color: rgb(224, 244, 250);
    display: grid;

    
}


.controls {
    margin: 50px;
    padding-top: 15px;
    border-top: 1px solid gray;
    display: flex;
    justify-content: space-between;
    width: 30em;
}




button{
    width: 100px;
    height: 40px;
    text-transform: capitalize;
    font-family: poppins, sans-serif;
    font-weight: 600;  
}




